.header{
    background-color: #f5f5f5;
    border-bottom: 1px solid #e5e5e5;
    height: 45px;
    margin-left: -10px;
    margin-right: -10px;
    position: fixed;
    top:0;
    right: 0;
    left:0;
}
.header .logo{
    height: 45px;
}
.header .profile{
    height: 43px;
    border: none;
    background-color: #f5f5f5;
}
.header .profile .profile-img{
    height: 35px;
}
.dropdown-menu{
    text-align: inherit;
    float: none;
}
#app{
    margin-top: 50px;
}
#status{
    position: fixed;
    bottom:0;
    left: 0;
    direction: ltr;
    background-color: #e5e5e5;
    font-size: 12px;
    margin: 0;
}
.center-block{
    float: none;
}
.percent{
    position: fixed;
    left: 0;
    width: 0;
    top: 45px;
    height:5px;
    padding: 0;
    background-image: linear-gradient(90deg,#fff, #d9534f);
}
html[dir='ltr'] .align-right{
    text-align: right;
}
html[dir='ltr'] .align-left{
    text-align: left;
}
html[dir='rtl'] .align-right{
    text-align: left;
}
html[dir='rtl'] .align-left{
    text-align: right;
}
.align-center{
    text-align: center;
}

html[dir='ltr'] .float-right{
    float: right;
}
html[dir='ltr'] .float-left{
    float: left;
}
html[dir='rtl'] .float-right{
    float: left;
}
html[dir='rtl'] .float-left{
    float: right;
}

html[dir='ltr'] .sub-right *{
    float: right;
}
html[dir='ltr'] .sub-left *{
    float: left;
}
html[dir='rtl'] .sub-right *{
    float: left;
}
html[dir='rtl'] .sub-left *{
    float: right;
}
.float-center{
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
body{
    background: url('../img/bg.png') center;
}
.form-panel{
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.1);
    box-shadow: 0 20px 30px rgba(0,0,0,.2);
    border-radius: 13px;
    padding: 7px;
}
.sidebar{
    background-color: #f5f5f5;
    border: 1px solid rgba(0,0,0,.1);
    box-shadow: 0 5px 7px rgba(0,0,0,.2);
    border-radius: 13px;
    padding: 7px;
}
.list-group-item{
    background-color: inherit;
    border:none;
}
.list-group-item:hover{
    background-color: #e5e5e5;
}
.row{
    margin-left: inherit;
    margin-right: inherit;
}
.sidebar a{
    margin-left: -10px;
    color: #000000;
}
.sidebar a i{
    color: #ff0505;
}
.btn-link:hover{
    text-decoration: blink;
}
.tile{
    height: 100px;
    background-color: #e8b71a;
    box-shadow: 0 3px 5px rgba(0,0,0,.2);
}
.tile:hover{
    box-shadow: 0 5px 7px rgba(0,0,0,.2);
}
.tile h3{
    width:100%;
    color: #fff;
    margin-top: 35px;
}
.tile h3 i{
    float: right;
    margin-top: -10px;
}
.tile.tile-default{
    background-color:#e8b71a;
}
.tile.tile-blue{
    background-color:#0dc9f7;
}
.tile.tile-red{
    background-color: #cd1719;
}
.tile.tile-pink{
    background-color: #d40e52;
}
.tile.tile-cadet-blue{
    background-color: #5f9da1;
}
.tile.tile-jordy-blue{
    background-color: #74AAF7;
}