<div class="row mt">
    <div class="col-lg-5 center-block">
        <div class="form-panel">
            <h4 class="mb">{{'signup' | lng}}<i class="fa {{{(lang.dir == 'rtl') ? 'fa-angle-left' : 'fa-angle-right'}}}"></i></h4>
            <form class="form-horizontal style-form" data-name="signup">
                <div class="form-group">
                    <label class="col-sm-3 control-label">{{'name' | lng}}:</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" autocomplete="off" placeholder="{{'name' | lng}}..." name="fname">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">{{'last_name' | lng}}:</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" autocomplete="off" placeholder="{{'last_name' | lng}}" name="lname">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">{{'age' | lng}}:</label>
                    <div class="col-sm-9">
                        <input type="number" class="form-control" autocomplete="off" placeholder="{{'age' | lng}}..." name="age">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">{{'email' | lng}}:</label>
                    <div class="col-sm-9">
                        <input type="email" class="form-control" autocomplete="off" placeholder="{{'email' | lng}}..." name="email">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">{{'username' | lng}}:</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" autocomplete="off" placeholder="{{'username' | lng}}..." name="username">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">{{'password' | lng}}:</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" autocomplete="off" placeholder="{{'password' | lng}}..." name="password">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">{{'pass_repeat' | lng}}:</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" autocomplete="off" placeholder="{{'pass_repeat' | lng}}..." name="password_repeat">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-6" style="float: right">
                        <button class="btn btn-info center-block" style="width: 100%" type="submit">{{'signup' | lng}}</button>
                    </div>
                    <div class="col-sm-6" style="float: right;">
                        <a href="#main" class="btn btn-danger center-block">{{'login' | lng}}</a>
                    </div>
                </div>
                <div class="alert alert-danger" v-if="wrong_email">
                    <b>{{'nop' | lng}}</b>
                    {{'wrong_email' | lng}}
                </div>
                <div class="alert alert-danger" v-if="used_username">
                    <b>{{'nop' | lng}}</b>
                    {{'used_username' | lng}}
                </div>
                <div class="alert alert-danger" v-if="wrong_pass">
                    <b>{{'nop' | lng}}</b>
                    {{'wrong_pass' | lng}}
                </div>
                <div class="alert alert-danger" v-if="wrong_age">
                    <b>{{'nop' | lng}}</b>
                    {{'wrong_age' | lng}}
                </div>
                <div class="alert alert-success" v-if="signup_success">
                    <b>{{'yes' | lng}}!</b>
                    {{'signup_success' | lng}}
                </div>
            </form>
        </div>
    </div><!-- col-lg-12-->
</div>
<script type="application/javascript">
    if(iDb.get('is_login') == '1'){
        api.open('main');
    }
    api.i18nTitle('signup');
</script>