<div class="row mt">
    <div class="col-lg-4 col-md-4 col-sm-4 mb">
        <div class="content-panel pn">
            <div id="profile-02">
                <div class="user"><img src="assets/img/qti3e.png" class="img-circle" width="80">
                    <h4>QTIƎE</h4></div>
            </div>
            <div class="pr2-social centered">
                <a target="_blank" href="https://twitter.com/qti3e"><i class="fa fa-twitter"></i></a>
                <a target="_blank" href="https://instagram.com/qti3e"><i class="fa fa-instagram"></i></a>
                <a target="_blank" href="https://github.com/qti3e"><i class="fa fa-github"></i></a>
            </div>
        </div><!-- --/panel ---->
    </div>
    <div class="col-lg-8 col-md-8 col-sm-8 mb">
        <div class="showback">
            <h3>درباره توسعه دهنده:</h3>
            <hr>
            <p>
                خب سلام کیوتی هستم و این برنامه ای هم که میبینید هیپو نام داره<br>
                خب الان احتمالا میگید هیپو یعنی چی؟<br>

            </p>
        </div>
    </div>
</div>