<div class="row mt">
    <div class="col-lg-4 col-md-4 col-sm-4 mb">
        <!-- WHITE PANEL - TOP USER -->
        <div class="white-panel pn">
            <div class="white-header">
                <h5>#{{profile.rank}}</h5>
            </div>
            <p><img src="assets/img/ui-zac.jpg" class="img-circle" width="50"></p>
            <p><b>{{profile.fname}} {{profile.lname}}</b></p>
            <div class="row">
                <div class="col-md-6">
                    <p class="small mt">MEMBER SINCE</p>
                    <p>2012</p>
                </div>
                <div class="col-md-6">
                    <p class="small mt">TOTAL SPEND</p>
                    <p>$ 47,60</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-8 mb">
        <div class="showback">

        </div>
    </div>
</div>

<script type="application/javascript">
    var p   = 'u.'+api.urlInput+'.';
    if(iDb.isset(p+'fname')){
        var profile = new Vue({
            el:"#app",
            data:{}
        });
        profile.$set('profile.username',api.urlInput);
        profile.$set('profile.fname',iDb.get(p+'fname'));
        profile.$set('profile.lname',iDb.get(p+'lname'));
        profile.$set('profile.rank',getRank(api.urlInput));
        profile.$set('profile.bio',iDb.get(p+'bio'));
        profile.$set('profile.age',iDb.get(p+'age'));
        profile.$set('profile.tSends',iDb.get(p+'tSends'));
        profile.$set('profile.wSends',iDb.get(p+'wSends'));
    }else {
        api.show404();
    }
</script>